@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
  font-size: 24px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding: 3%;
}

.people-container {
  display: flex;
  flex-direction: column;
  flex: 50%;
}

.people-container div {
  margin: 10px;
}

.bill {
  margin-bottom: 5%;
}

.bill-amount {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: white;
  background-image: url("images/icon-dollar.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  font-weight: bold;
  font-size: 2vh;
  color: hsl(183, 100%, 15%);
  text-align: right;
  width: 100%;
  cursor: pointer;
}

.bill-amount:focus {
  outline: none;
  border-color: hsl(172, 67%, 45%);
}

form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

input[type="button"] {
  list-style-type: none;
  padding: 10px 25px;
  border-radius: 3px;
  background-color: hsl(183, 100%, 15%);
  text-align: center;
  cursor: pointer;
}

#custom-percent {
  background-color: white;
  color: hsl(183, 100%, 15%);
  padding-left: 40%;
  font-size: 1vh;
  cursor: pointer;
}

#custom-percent:active,
#custom-percent:focus {
  background-color: white;
  color: black;
}

#number-of-people {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: white;
  background-image: url("images/icon-person.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  font-weight: bold;
  font-size: 2vh;
  color: hsl(183, 100%, 15%);
  text-align: right;
  width: 100%;
  cursor: pointer;
}

#number-of-people:focus {
  outline: none;
  border-color: red;
}

.number-of-people-label,
.bill-amount-label {
  font-size: 2vh;
  font-weight: 700;
}

#error {
  color: hsl(183, 100%, 15%);
  font-size: 1.5vh;
  color: red;
  position: relative;
  right: 0;
  bottom: 0;
  float: right;
}

input[type="button"]:active,
input[type="button"]:focus,
#custom-percent:active,
#custom-percent:focus {
  background-color: hsl(172, 67%, 45%);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.select-tip {
  margin-bottom: 2%;
  font-size: 1.5vh;
  font-weight: 700;
}

.tip-percentage {
  color: white;
  font-size: 2vh;
  padding: 15px 15px;
}

.custom-tip {
  list-style-type: none;
}

.tip-amount-container {
  position: relative;
  background-color: hsl(183, 100%, 15%);
  border-radius: 10px;
  margin: 5%;
  height: auto;
  flex: 50%;
}

.tip-amount-container div {
  margin: 10%;
}

.tip-amount,
.total-amount {
  font-size: 4vh;
  font-weight: 700;
}

.tips {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tipsp {
  font-size: 1.5vh;
  font-weight: 700;
  color: hsl(183, 100%, 15%);
  margin-right: 7rem;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.totalp {
  font-size: 1.5vh;
  font-weight: 700;
  color: hsl(183, 100%, 15%);
}

.tips p,
.total p {
  color: white;
}

.tips p span,
.total p span {
  font-size: 12px;
  font-weight: bold;
  color: white;
  opacity: 0.5;
}

.reset-button {
  font-family: "Space Mono", monospace;
  position: absolute;
  bottom: 10%;
  left: 10%;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 400;
  width: 80%;
  background-color: hsl(172, 67%, 45%);
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2vh;
  cursor: pointer;
}

@media screen and (max-width: 639px) {
  main {
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  .tip-amount-container {
    display: flex;
    flex-direction: column;
    height: auto;
    flex: 50%;
  }

  .people-container {
    flex: 50%;
  }

  .tip-amount-container div {
    margin: 10%;
  }
  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}
